/*----------------------*/
/*-----Reset styles-----*/
/*----------------------*/
@import url("reset.css");

/*==============================================================================================*/
/*----------------------*/
/*--------Default-------*/
/*----------------------*/
body {
    color: #333;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

/*==============================================================================================*/
/*----------------------*/
/*--------Header--------*/
/*----------------------*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header__container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


.header__logo {
    color: #31353B;
    font-size: 23px;
    font-weight: 800;
}

.header__nav {}

.nav {}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 10px;
}

.nav__item {}

.nav__link {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}

.nav__link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header__container {
        flex-direction: column;
    }

    .nav__list {
        justify-content: center;
    }

    .nav__link {
        font-size: 18px;
    }
}

/*==============================================================================================*/
/*----------------------*/
/*-----Main_header------*/
/*----------------------*/
.main__header {
    position: relative;
    padding-top: 183px;
}

.main__header {}

.header-main {}

.header-main::after {
    content: "";
    width: 39%;
    height: 100%;
    background: #BDCCFF;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.header-main__container {}

.header-main__resident {}

.resident {
    display: flex;
}

.resident__block {
    flex-basis: 50%;
    position: relative;
}

.resident__block-text {
    padding-right: 70px;
}

.resident__text-orange {
    text-transform: uppercase;
    color: #F90;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}

.resident__title {
    color: #000;
    font-size: 54px;
    font-weight: 800;
    line-height: 73px;
    margin-bottom: 23px;
}

.resident__text {
    margin-bottom: 48px;
}

.resident__form {
    min-height: 86px;
    margin-right: -188px;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #fff;
    box-shadow: 0 2px 3px black;
}

.resident__input {
    flex: 1 0 auto;
    background: #fff url(../img/main/home.svg) 30px 50% no-repeat;
    padding: 30px 0 30px 70px;
    font-size: 20px;
}

.resident__btn {
    flex: 0 0 188px;
    background-color: #F85A47;
    color: #fff;
    font-variant: 600;
    padding: 10px 5px;
}

.resident__photo {
    width: 100%;
    max-height: 573px;
    overflow: hidden;
}

.resident__photo img {
    max-width: 100%;
}

.header-main__partners {
    margin: 60px 0 40px 0;
}

.partners {}

.partners__text {
    color: #31353B;
    margin-bottom: 27px;
}

.partner__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 30px;
}

.partner__item {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
}

.partner__item img {
    max-width: 100%;
}


@media (max-width: 912.98px) {
    .resident {
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 60px;
    }

    .resident__form {
        margin-right: 0;
    }

    .resident__input {
        flex: 1 1 auto;
    }

    .partner__list {
        justify-content: center;
    }

}

@media(max-width: 650px) {

    .resident__title {
        font-size: 40px;
        line-height: 1.2;
    }

    .resident__form {
        flex-direction: column;
    }

    .resident__btn {
        height: 87px;
        flex: 0 1 auto;
    }
}

@media(max-width: 450px) {
    .resident__input {
        padding-right: 5px;
        padding-left: 5px;
        background-image: none;
    }
}

/*==============================================================================================*/
/*----------------------*/
/*-------Main How-------*/
/*----------------------*/
.main__how {
    padding-top: 230px;
}

.how {}

.how__container {}

.how__title {
    text-align: center;
    margin-bottom: 70px;
}

.how__row {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.how__column {
    flex: 1 0 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how__img {
    width: 90px;
    height: 90px;
    margin-bottom: 50px;
    position: relative;
}

.how__img img {
    max-width: 100%;
}

.how__row .how__column:nth-child(1) .how__img::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #9672FF;
    position: absolute;
    top: 50%;
    right: -50%;
}

.how__row .how__column:nth-child(2) .how__img::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #4DDFFD;
    position: absolute;
    top: 50%;
    left: -50%;
}

.how__row .how__column:nth-child(2) .how__img::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #4DDFFD;
    position: absolute;
    top: 50%;
    right: -50%;
}

.how__row .how__column:nth-child(3) .how__img::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #9672FF;
    position: absolute;
    top: 50%;
    left: -50%;
}

.how__subtitle {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.how__text {
    text-align: center;
    color: #000;
    line-height: 1.6;
}

@media (max-width: 960px) {

    .main__how {
        padding-top: 150px;
    }

    .how__row {
        justify-content: center;
    }
}

/*==============================================================================================*/
/*----------------------*/
/*------Main deals------*/
/*----------------------*/
.main__deals {
    padding-top: 123px;
    padding-bottom: 123px;
}

.deals {}

.deals__container {}

.deals__header {
    margin-bottom: 50px;
}

.header-deals {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-deals__content {
    flex: 1 1 auto;
}

.header-deals__title {
    margin-bottom: 15px;
}

.title {}

.header-deals__text {
    max-width: 470px;
    color: #000;
    line-height: 1.6;
}

.header-deals__link {
    display: inline-block;
    flex: 0 0 auto;
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;
    background: #F85A47;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}

.deals__tabs {}

.tabs-deals {}

.tabs-deals__nav {
    margin-bottom: 57px;
    display: flex;
    gap: 57px;
    flex-wrap: wrap;
}

.tabs-deals__btn {
    cursor: pointer;
    font-size: 19px;
    line-height: 26px;
}

.tabs-deals__btn:hover {
    color: #F85A47;
    text-decoration: underline;
}

.tabs-deals__btn.active {
    color: #F85A47;
    text-decoration: underline;
}

.tabs-deals__body {}

.tabs-deals__item {
    display: none;
}

.tabs-deals__item.active {
    display: block;
}

.item-tabs {}

.item-tabs__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.item-tabs__item {
    position: relative;
}

.item-tabs__options {
    position: absolute;
    z-index: 50;
    top: 20px;
    left: 20px;
}

.item-tabs__option {
    display: inline-block;
    padding: 5px 12px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-size: 12px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.item-tabs__image {
    position: relative;
    padding-bottom: 80%;
    border-radius: 5px;
    overflow: hidden;
}

.item-tabs__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .3s ease 0s;
}

.item-tabs__image:hover img {
    transform: scale(1.1);
}

/*==============================================================================================*/
/*----------------------*/
/*-----Main featured---*/
/*----------------------*/
.main__featured {
    margin-top: 120px;
}

.featured {}

.featured__container {}

.featured__title {
    margin-bottom: 95px;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.featured__body {}

.body-featured {
    background-color: #F1FFFF;
    padding: 40px;
    display: grid;
    gap: 78px;
    grid-template-columns: repeat(2, 1fr);
}

.body-featured__images {}

.images-featured {}

.images-featured__image {}

.images-featured__image_sub {
    width: 80%;
    transform: translate(10%, -48%);
    box-shadow: 48px 58px 44px 0px rgba(0, 0, 0, 0.09), 0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01), 0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}

.images-featured__image img {
    max-width: 100%;
}

.body-featured__content {}

.content-featured {}

.content-featured__title {
    font-size: 31px;
    margin-bottom: 28px;
}

.content-featured__text {
    max-width: 344px;
    margin-bottom: 42px;
    color: #545A58;
    line-height: 24px;
}

.content-featured__options {}

.option-featured {
    margin-bottom: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 66px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 38px;
}

.option-featured__item {}

.item-featured {}

.item-featured__title {
    padding-bottom: 12px;
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.item-featured__text {
    color: #545A58;
    font-size: 17px;
}

.content-featured__link {
    display: block;
    max-width: 412px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    background-color: #F85A47;
    padding: 16px 38px;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width: 965px) {

    .main__featured {
        margin-top: 60px;
    }

    .body-featured {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .content-featured__text {
        min-width: 100%;
    }

    .content-featured__link {
        line-height: 150%;
    }
}

@media(max-width: 485px) {
    .option-featured {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10px;
    }
}

/*==============================================================================================*/
/*----------------------*/
/*---Main newsletter----*/
/*----------------------*/
.main__newsletter {
    margin-top: 162px;
    padding-top: 150px;
    padding-bottom: 150px;
    background: var(--6, #FBFCFC);
}

.newsletter {}

.newsletter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter__title {
    text-align: center;
    margin-bottom: 12px;
    color: #31353B;
    font-size: 45px;
    font-weight: 700;
    line-height: 64.89px;
    letter-spacing: 0.9px;
}

.newsletter__subtitle {
    text-align: center;
    margin-bottom: 35px;
    color: #31353B;
    font-size: 23px;
    font-weight: 700;
    line-height: 33.166px;
    letter-spacing: 0.46px;
}

.newsletter__form {
    background: v #FFF;
    box-shadow: 0px 3.019px 3.148px 0px rgba(0, 0, 0, 0.01), 0px 13.281px 6.519px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.785px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 105.648px 46.852px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
    width: 686px;
    height: 124px;
    padding: 26px 30px;
    display: flex;
    align-items: center;

}

.form-newsletter {}

.form-newsletter__input {
    flex: 1 1 100%;
    height: 100%;
    padding: 0 45px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24.514px;
    letter-spacing: 0.34px;
    background-color: transparent;
}

.form-newsletter__btn {
    flex: 1 0 auto;
    padding: 23px 40px;
    background: #F85A47;
    box-shadow: 0px 1.852px 3.148px 0px rgba(248, 90, 71, 0.02), 0px 8.148px 6.519px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.519px 25.481px 0px rgba(248, 90, 71, 0.04), 0px 64.815px 46.852px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
    color: var(--white, #FFF);
    font-size: 18px;
    font-weight: 500;
    line-height: 25.956px;
    letter-spacing: 0.36px;
}

/*==============================================================================================*/
/*----------------------*/
/*--------Footer--------*/
/*----------------------*/
.footer {
    background:  #FBFCFC;
    padding-top: 60px;
    padding-bottom: 36px;
}

.footer::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: #DEDFE1;
}

.footer__container {}

.footer__nav {
    margin-top: 60px;
    margin-bottom: 77px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.footer__logo {
    color: #31353B;
    font-size: 23px;
    font-weight: 800;
}

.footer__list {}

.list-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
}

.list-footer__item {}

.item-footer {}

.item-footer__link {}

.item-footer__link:hover {
    text-decoration: underline;
}

.footer__label {
    text-align: center;
}